In [1]:
#Importing libraries
import pandas as pd
import networkx as nx

In [2]:
#Reading CSV file
df = pd.read_csv('s&p500_companies.csv')
df.head()

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
0,NMS,MSFT,Microsoft Corporation,Microsoft Corporation,Technology,Software - Infrastructure,415.50,3087347744768,1.184270e+11,0.176,Redmond,WA,United States,221000.0,Microsoft Corporation develops and supports so...,0.064950
1,NMS,AAPL,Apple Inc.,Apple Inc.,Technology,Consumer Electronics,179.66,2774291709952,1.301090e+11,0.021,Cupertino,CA,United States,161000.0,"Apple Inc. designs, manufactures, and markets ...",0.058364
2,NMS,NVDA,NVIDIA Corporation,NVIDIA Corporation,Technology,Semiconductors,822.79,2056974893056,3.448000e+10,2.653,Santa Clara,CA,United States,29600.0,"NVIDIA Corporation provides graphics, and comp...",0.043274
3,NMS,AMZN,"Amazon.com, Inc.","Amazon.com, Inc.",Consumer Cyclical,Internet Retail,178.22,1851242446848,8.551500e+10,0.139,Seattle,WA,United States,1525000.0,"Amazon.com, Inc. engages in the retail sale of...",0.038946
4,NMS,GOOGL,Alphabet Inc.,Alphabet Inc.,Communication Services,Internet Content & Information,137.14,1711740289024,1.001720e+11,0.135,Mountain View,CA,United States,182502.0,Alphabet Inc. offers various products and plat...,0.036011

In [3]:
#Dropping columns
new_df = df.drop(['Exchange', 'Shortname', 'Longname', 'Industry', 'Currentprice', 'Ebitda', 'Revenuegrowth', 
                 'City', 'State', 'Country', 'Fulltimeemployees', 'Longbusinesssummary', 'Marketcap'],
                 axis=1)
new_df.head()

  Symbol                  Sector    Weight
0   MSFT              Technology  0.064950
1   AAPL              Technology  0.058364
2   NVDA              Technology  0.043274
3   AMZN       Consumer Cyclical  0.038946
4  GOOGL  Communication Services  0.036011

In [4]:
#Saving a graph from Dataframe
g = nx.from_pandas_edgelist(new_df, source = 'Symbol', target = 'Sector', edge_attr = 'Weight')

In [5]:
#Saving the graph
nx.write_graphml(g, 's&p4.graphml')

In [9]:
#Finding degree of centrality for each symbol and saving in a dictionary
centrality_dict = nx.degree_centrality(g)
#Developing a sorted Dataframe
sorted_df = pd.DataFrame(sorted(centrality_dict.items(), key = lambda x: x[1], reverse = True), columns=['Sector', 'Degree Centrality'])
sorted_df[: 5]

               Sector  Degree Centrality
0          Technology           0.144531
1         Industrials           0.142578
2  Financial Services           0.130859
3          Healthcare           0.126953
4   Consumer Cyclical           0.113281